<lf-form path="/demoForm">
  <lf-text path="ipAddress"></lf-text>
  <lf-checkbox path="booleanField"></lf-checkbox>
  <lf-checkbox-group path="arrayEnumStringField"></lf-checkbox-group>
  <lf-date path="dateField"></lf-date>
  <lf-date-range path="dateRangeField"></lf-date-range>
  <lf-number path="byteField"></lf-number>
  <lf-number path="shortField"></lf-number>
  <lf-number path="intField"></lf-number>
  <lf-number path="longField"></lf-number>
  <lf-number path="floatField"></lf-number>
  <lf-number path="doubleField"></lf-number>
  <lf-number path="sumField"></lf-number>
  <lf-select path="enumNameField"></lf-select>
  <lf-select path="enumOrdinalField"></lf-select>
  <lf-text path="stringField"></lf-text>
  <lf-text path="emailField"></lf-text>
  <lf-table path="tableField">
    <lf-table-header>
      <lf-table-column
        [id]="'index'"
        [fixed]="true"
        [minWidth]="50"
      ></lf-table-column>
      <lf-table-column [id]="'stringCell'"></lf-table-column>
      <lf-table-column [id]="'doubleCell'"></lf-table-column>
    </lf-table-header>

    <ng-template #lfTableRowTemplate let-id="id" let-i="index">
      <tr lf-table-row [path]="id">
        <td lf-table-cell>{{ i + 1 }}</td>
        <td lf-table-cell>
          <lf-text path="stringCell"></lf-text>
        </td>
        <td lf-table-cell>
          <lf-number path="doubleCell"></lf-number>
        </td>
      </tr>
    </ng-template>
  </lf-table>
  <lf-number path="tableSumField"></lf-number>
  <lf-table path="computedArrayField">
    <lf-table-header>
      <lf-table-column
        [id]="'index'"
        [fixed]="true"
        [minWidth]="50"
      ></lf-table-column>
      <lf-table-column [id]="'stringCell'"></lf-table-column>
      <lf-table-column [id]="'doubleCell'"></lf-table-column>
    </lf-table-header>

    <ng-template #lfTableRowTemplate let-id="id" let-i="index">
      <tr lf-table-row [path]="id">
        <td lf-table-cell>{{ i + 1 }}</td>
        <td lf-table-cell>
          <lf-text path="stringCell"></lf-text>
        </td>
        <td lf-table-cell>
          <lf-number path="doubleCell"></lf-number>
        </td>
      </tr>
    </ng-template>
  </lf-table>
</lf-form>
