<lf-app *mobxAutorun [isReadOnly]="sending">
  <!-- Top-bar of the application -->
  <lf-top-bar [actions]="actions">
    <!-- Title -->
    <lf-i18n key="label"></lf-i18n>
  </lf-top-bar>

  <!-- Tree-nav -->
  <lf-tree-nav></lf-tree-nav>

  <!-- Content -->
  <router-outlet></router-outlet>
</lf-app>
